<!--DOCTYPE html-->
<html>

<head>
  <meta charset="utf-8">
  <title>Mann OverBoard</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/png" href="../static/icon.png">
  <script src="jquery-3.3.1.min.js"></script>
</head>

<body>
  <div id="body"><img src="" id="bg" alt=""></div>
  <div id="container">
    <div id="header">
      <div class="calendar">
        <div class="cal-container">
          <p id="time"></p>
          <p id="weekday" class="dayte"></p>
          <p id="date" class="dayte"></p>
        </div>
        <div class="cal-container">
          <p id="cal_day0">Today</p>
          <ul id="cal_day0_list" style="list-style-type:none;"></ul>
        </div>
        <div class="cal-container">
          <p id="cal_day1"></p>
          <ul id="cal_day1_list" style="list-style-type:none;"></ul>
        </div>
        <div class="cal-container">
          <p id="cal_day2"></p>
          <ul id="cal_day2_list" style="list-style-type:none;"></ul>
        </div>
        <div class="cal-container">
          <p id="cal_day3"></p>
          <ul id="cal_day3_list" style="list-style-type:none;"></ul>
        </div>
        <div class="cal-container">
          <p id="cal_day4"></p>
          <ul id="cal_day4_list" style="list-style-type:none;"></ul>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="weather">
        <div class="weather-container">
          <div class="current-container1">
            <p id="current_temp">{{current_conditions["temp"]}}</p>
          </div>
          <div class="current-container2">
            <a href = "fullsettingspage.html" style="color: #ffffff; text-decoration: none;">
              <img id="current_icon" src={{current_conditions["weather_icon"]}} alt="Current Weather Icon" style="width:125%">
            </a>
          </div>
        </div>
        <div class="weather-container">
          <p id="weather_day0_DATE" class="weather-dates">Today</p>
          <div class="temps">
            <p id="weather_day0_HIGH">{{forecast[0]["temp_max"]}}</p>
            <p id="weather_day0_LOW">{{forecast[0]["temp_min"]}}</p>
          </div>
          <img id="weather_day0_ICON" src={{forecast[0]["weather_icon"]}} alt="weather icon" style="width:75%">
        </div>
        <div class="weather-container">
          <p id="weather_day1_DATE" class="weather-dates">{{forecast[1]["weekday"]}}</p>
          <div class="temps">
            <p id="weather_day1_HIGH">{{forecast[1]["temp_max"]}}</p>
            <p id="weather_day1_LOW">{{forecast[1]["temp_min"]}}</p>
          </div>
          <img id="weather_day1_ICON" src={{forecast[1]["weather_icon"]}} alt="weather icon" style="width:75%">
        </div>
        <div class="weather-container">
          <p id="weather_day2_DATE" class="weather-dates">{{forecast[2]["weekday"]}}</p>
          <div class="temps">
            <p id="weather_day2_HIGH">{{forecast[2]["temp_max"]}}</p>
            <p id="weather_day2_LOW">{{forecast[2]["temp_min"]}}</p>
          </div>
          <img id="weather_day2_ICON" src={{forecast[2]["weather_icon"]}} alt="weather icon" style="width:75%">
        </div>
        <div class="weather-container">
          <p id="weather_day3_DATE" class="weather-dates">{{forecast[3]["weekday"]}}</p>
          <div class="temps">
            <p id="weather_day3_HIGH">{{forecast[3]["temp_max"]}}</p>
            <p id="weather_day3_LOW">{{forecast[3]["temp_min"]}}</p>
          </div>
          <img id="weather_day3_ICON" src={{forecast[3]["weather_icon"]}} alt="weather icon" style="width:75%">
        </div>
        <div class="weather-container">
          <p id="weather_day4_DATE" class="weather-dates">{{forecast[4]["weekday"]}}</p>
          <div class="temps">
            <p id="weather_day4_HIGH">{{forecast[4]["temp_max"]}}</p>
            <p id="weather_day4_LOW">{{forecast[4]["temp_min"]}}</p>
          </div>
          <img id="weather_day4_ICON" src={{forecast[4]["weather_icon"]}} alt="weather icon" style="width:75%">
        </div>
      </div>
    </div>
  </div>
</body>

</html>
